<h1 class="text-center" style="margin: 40px"><%= @artwork.title %></h1>
<h2 class="text-center" style="margin: 40px"><%= @artwork.height %></h2>
<h2 class="text-center" style="margin: 40px"><%= @artwork.width %></h2>
<h2 class="text-center" style="margin: 40px"><%= @artwork.depth %></h2>
<h2 class="text-center" style="margin: 40px"><%= @artwork.weight %></h2>
<h2 class="text-center" style="margin: 40px"><%= @artwork.location %></h2>
<h2 class="text-center" style="margin: 40px"><%= @artwork.user_id %></h2>
