<div class="container">
  <div class="wrapper" style="width: 93%">
    <div class="row">
      <div class="col-md-6">
        <% if @artwork.photo %>
        <% image =  @artwork.photo.path %>
        <% else  %>
        <% image =  "https://unsplash.com/?photo=-LRuNvY8W7Q" %>
        <% end %>

        <img class="full-width" src="<%= cl_image_path(image, height: 300, crop: "fill") %>" alt="sample image">
      </div>

      <div class="col-md-6 text-center" >
        <div class="row" >
          <div class="header-titles-left">
            <h1 style="margin: 0px;"><strong><%= @artwork.title %></strong></h1>
            <h5>by <%= @artwork.owner.username %><%= @artwork.owner.fullname %></h5>
          </div>
        </div>
        <div class="row" >
          <div class="text-center">
            <h3>
              <% if current_user and current_user.venues.any? %>
              <%= render 'form-appt'  %>
              <% else %>
              Please create a venue before booking, here: <%= link_to "Create Venue", new_venue_path %>
              <% end %>
            </h3>
            <h5>
              <%= link_to "Back", artworks_path %>
              <%  if (current_user == @artwork.owner) %>
              <%= link_to "Edit", edit_artwork_path(@artwork) %>
              <%= link_to "Delete", artwork_path(@artwork), method: :delete, data: { confirm: "Are you sure?"}, class: "btn-book-show" %>
              <% end  %>
            </h5>
          </div>

        </div>

      </div>
    </div>
      <br>
    <div class="row no-margin">
      <div class="col-md-12" style=" margin: 20px 0px; padding: 0px">
        <div class="profile-header-wrapper">
          <div class="profile-header-container text-center" style="padding: 0px;">
            <div class="tabs">
              <a class="tab active" data-target="#overview">
                <h3>Overview</h3>
              </a>
              <a class="tab" data-target="#location">
                <h3>Location</h3>
              </a>
              <a class="tab" data-target="#history">
                <h3>History</h3>
              </a>
            </div>
          </div>
        </div>
        <div class="tab-content" id="overview" style="height: 250px; overflow:auto">
          <div class="content">
            <div class="content-group">
              <strong>Description:</strong>
              <br><br>
              <%= @artwork.description%>
            </div>
            <br><br>
            <div class="content-group">
              <strong>Details:</strong>
              <br><br>
              Dimensions: <%= @artwork.height %> x <%= @artwork.width %> x <%= @artwork.depth %>
              <br>
              Weight: <%= @artwork.weight %>kg
            </div>
          </div>

        </div>
        <div class="tab-content hidden" id="location" style="height: 250px; overflow:auto">
          <div class="text-center" id="map" style="width: auto; height: 200px;"></div>
          <% content_for(:after_js) do %>
          <%= javascript_tag do %>
          $(".tab").on("click", function(e){
          // Change active tab
          if ($(this).text().trim() == "Location") {

          $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  });
}
});
<% end %>
<% end %>
</div>
<div class="tab-content hidden" id="history" style="height: 250px; overflow:auto;">
  <% @appt = Appointment.where(artwork_id: @artwork) %>
  <%if @appt.nil?  %>
    <div class="content text-center" >
      <br><br>
      <h2>This has not been booked yet!!!</h2>
    </div>
  <% else %>
    <div class="content" >
      <%# @appt = Appointment.where(artwork_id: @artwork) %>
      <h2>Number of Historical Requests: <%=  @appt.count%> </h2>
      <ul>
        <li>Booked by  <%= @appt.last.venue.title   %>, in <%= @appt.last.venue.location  %> from: <%=  @appt.last.start_date %> to <%= @appt.last.end_date %> </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
</div>
<div class="row no-margin">
  <div class="col-md-12" style=" margin: 10px 0px;">
    <div class="text-center">
      <h3>Explore more artworks from <%= @artwork.owner.username%></h3>
      <br>
    </div>
  </div>

  <div class="">
    <div class="col-md-12">
      <div class="inline-block-center">
        <div class="multiple-items">
          <% artist = @artwork.owner %>
          <% art = Artwork.all %>
          <% collection = art.where(user_id: artist) %>
          <% collection.each do |piece| %>
          <% if piece.photo.nil? %>
          <% else %>
          <% picture = piece.photo.path %>
          <div class="card-link card-pic">
            <%= link_to artwork_path(piece) do %>
            <div class="card-wrapper">
              <p class="card-text text-center"><%= piece.title %></p>
              <img class="card-image text-center" src="<%= cl_image_path(picture, width: 300, crop: "scale") %>" alt="sample image">
            </div>
            <% end %>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>

<!--     <div class="">
      <div class="col-md-12">
        <div class="inline-block-center">
          <div class="multiple-items">
            <div> <img src="https://static.pexels.com/photos/213508/pexels-photo-213508.jpeg" alt="First thing" style="width: 300px; height: auto"></div>
            <div> <img src="https://static.pexels.com/photos/115057/pexels-photo-115057.jpeg" alt="Second thing" style="width: 300px; height: auto"></div>
            <div> <img src="https://static.pexels.com/photos/342013/pexels-photo-342013.jpeg" alt="Third thing" style="width: 300px; height: auto"></div>
            <div> <img src="https://static.pexels.com/photos/12567/photo-1444703686981-a3abbc4d4fe3.jpeg" alt="Fourth thing" style="width: 300px; height: auto"></div>
          </div>
        </div>
      </div>
    </div> -->

  </div>
</div>
</div>
</div>
<br><br>

