<h1 class="text-center" style="margin: 40px"><%= @artwork.title %></h1>
<h2 class="text-center" style="margin: 40px"><%= @artwork.height %></h2>
<h2 class="text-center" style="margin: 40px"><%= @artwork.width %></h2>
<h2 class="text-center" style="margin: 40px"><%= @artwork.depth %></h2>
<h2 class="text-center" style="margin: 40px"><%= @artwork.weight %></h2>
<h2 class="text-center" style="margin: 40px"><%= @artwork.location %></h2>
<h2 class="text-center" style="margin: 40px"><%= @artwork.owner.email %></h2>


<h3 class="text-center" style="margin: 40px">

<% if current_user and current_user.venues.any? %>
  <%= link_to "Book", new_artwork_appointment_path(@artwork) %>
<% else %>
Please create a venue befoe booking, here: <%= link_to "Create Venue", new_venue_path %>
<% end %>


  <%= link_to "Back", artworks_path %>
  <%= link_to "Edit", edit_artwork_path(@artwork) %>
  <%= link_to "Delete", artwork_path(@artwork), method: :delete, data: { confirm: "Are you sure?"}, class: "btn-book-show" %>
</h3>

<div id="map" style="width: 60%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
