<div>
<div class="banner" style="background: linear-gradient(-30deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 4%), url(https://static.pexels.com/photos/428111/pexels-photo-428111.jpeg);">
  <h1 class="text-center">ART YOUR SPACE</h1>

  <div class="search-bar text-center">
    <form class="form-inline" action="/search" method="GET">
      <label class="sr-only" for="inlineFormInput">City</label>
      <input name="city" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Enter your city">


      <label class="sr-only" for="inlineFormInputGroup">When</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input name="date_range" type="text" class="form-control" id="dateRange" placeholder="When">
      </div>
      <input type="submit"  class="btn btn-primary" value="Search!">

    </form>
  </div>

  <p class="text-center">Show artwork from local artists and experience your favorite art for<strong> FREE</strong></p>

</div>




<div class="container whole-cards">
  <div class="browse text-center">
  <%= link_to "Browse Our Artwork", artworks_path %></h2>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="homecard">
        <div class="homecard-title">Paintings</div>
        <%= link_to(search_path(test: 2), style: 'text-decoration: none;') do %>
        <%= image_tag "painting.jpg" %>
        <% end %>
      </div>

    </div>

    <div class="col-md-4">
      <div class="homecard">
      <div class="homecard-title">Drawings</div>
        <%= link_to(search_path(test: 2), style: 'text-decoration: none;') do %>
        <%= image_tag "drawings.jpg" %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="homecard">
      <div class="homecard-title">Photographies</div>
        <%= link_to(search_path(test: 3), style: 'text-decoration: none;') do %>
        <%= image_tag "photo.jpg" %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="homecard">
      <div class="homecard-title">Scultures</div>
        <%= link_to(search_path(test: 4), style: 'text-decoration: none;') do %>
        <%= image_tag "sculture.jpg" %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="homecard">
      <div class="homecard-title">Installations</div>
        <%= link_to(search_path(test: 5), style: 'text-decoration: none;') do %>
        <%= image_tag "installation.jpg" %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="homecard">
      <div class="homecard-title">Miscellaneous</div>
        <%= link_to(search_path(test: 6), style: 'text-decoration: none;') do %>
        <%= image_tag "miscelleneous-6.jpg" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
