<%= simple_form_for @venue do |f| %>
  <%= f.input :title %>
  <%= f.input :category %>
  <%= f.input :location %>
  <%= f.input :photo, as: :attachinary %>
  <div class="text-center">
  <br>
  <%= f.button :submit, class: "btn btn-primary" %>
  <br>
  </div>
<% end %>


