<h1 class="text-center" style="margin: 40px"><%= @venue.title %></h1>
<h2 class="text-center" style="margin: 40px"><%= @venue.category %></h2>
<h2 class="text-center" style="margin: 40px"><%= @venue.location %></h2>
<% @status = Appointment.where(venue_id: @venue.id) %>
<% if @status.blank?  %>
This Venue is showing no art :(
<% else %>
You can find displayed in <%= @venue.title %>:
<br>
<%  @status.each do |appt|%>
<%= appt.start_date %> to <%= appt.end_date %> the <%= appt.artwork.category %>: <%= appt.artwork.title %> by renowned artist: <%= appt.artwork.owner.username %>
<br>
<% end %>
<% end %>

<% if @venue.photo? %>
  <%= cl_image_tag @venue.photo.path, width: 200, height: 300, crop: :fill %>
<% end %>

<h3 class="text-center" style="margin: 40px">
  <%= link_to "Back", venues_path %>
  <%= link_to "Edit", edit_venue_path(@venue) %>
  <%= link_to "Delete", venue_path(@venue), method: :delete, data: { confirm: "Are you sure?"}, class: "btn-book-show" %>
</h3>
