<h1 class="text-center" style="margin: 40px"><%= @venue.title %></h1>
<h2 class="text-center" style="margin: 40px"><%= @venue.category %></h2>
<h2 class="text-center" style="margin: 40px"><%= @venue.location %></h2>

<h3 class="text-center" style="margin: 40px">
  <%= link_to "Back", venues_path %>
  <%= link_to "Edit", edit_venue_path(@venue) %>
  <%= link_to "Delete", venue_path(@venue), method: :delete, data: { confirm: "Are you sure?"}, class: "btn-book-show" %>
</h3>
