<%= simple_form_for([@artwork,@appointment]) do |f| %>
  <%= @appointment.artwork_id %>
  <div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                    <%= f.input :start_date, :as => :string, input_html: {id: "start_date"}, placeholder: "Start Date" %>
            </div>
        </div>
<div class='col-sm-6'>
            <div class="form-group">
                    <%= f.input :end_date, :as => :string, input_html: {id: "end_date"}, placeholder: "End Date" %>
            </div>
        </div>
    </div>







</div>



  <%= hidden_field_tag :venue_id, current_user.venues.first.id %>

  <%= f.button :submit, class: "btn btn-primary"  %>

<% end %>
