

  <h1>ALL APPOINTMENTS WE MADE:</h1>
<% current_user.venues.each do |venue| %>
  <% venue.appointments.each do |appointment| %>
<ul>   <!--  <%= Artwork.find(appointment.artwork_id).owner.email%> -->


    <li>
    <p> <%=venue.title%></p>
    <p> <%=appointment.artwork_id%></p>
    <p><%= appointment.start_date%></p>
    <p><%= appointment.end_date%></p>


    </li>


</ul>

    <br>
    <br>
  <% end %>
<% end %>

<h1>ALL APPOINTMENTS SOMEONE ELSE MADE AND INVOLVE US: (to be done)</h1>

<p>Your Booking Requests which are pending an Artist decision:</p>
<br>
<p>working on this logic</p>
<br>
<br>



<h1>Requests waiting on your Approval/Rejection:</h1>
<%  current_user.artworks.each do |artwork|  %>
<% artwork.appointments.each do |appointment| %>
    <%= appointment.to_json %>
    <%= link_to 'Confirm',  appointment_confirm_path(appointment), class: "btn" %>
  <%= link_to 'Decline',  appointment_decline_path(appointment), class: "btn" %>
  <br>
  <% end %>
<% end %>

<br>
<br>

<li><%= link_to "See Artworks", artworks_path %></li>
<li><%= link_to "Create Artwork", new_artwork_path %></li>
<li><%= link_to "See Venues", venues_path %></li>
<li><%= link_to "Create Venues", new_venue_path %></li>
