
<script>
  window.DISABLE_DATES = [
  <% @disabled_days.each do |date| %>
   '<%= date.strftime("%-m/%e/%Y") %>',
<% end  %>
  ];
</script>





<div class="col-xs-12 col-md-3" style="display: inline-block">


      <% choice = current_user.venues.each { |venue| venue.title }  %>

      <%= simple_form_for([@artwork,@appointment]) do |f| %>
        <%= @appointment.artwork_id %>
        <%= f.input :start_date, :as => :string, input_html: {id: "start_date"}, placeholder: "Start Date" %>
        <%= f.input :end_date, :as => :string, input_html: {id: "end_date"},placeholder: "End Date" %>
        <%= f.input :venue_id, :collection => choice%>

        <%= hidden_field_tag :venue_id, current_user.venues.first.id %>

        <%= f.button :submit, class: "btn btn-primary"  %>

      <% end %>


  </div>
</div>
