<br>
<% if current_user == @appointment.artwork.owner %>
  <h1 class="text-center">Hey there Artist: <%= @appointment.artwork.owner.username %>, </h1>
  <li><%= @appointment.venue.title %> wants to book</li>
    <li>Your <%= @appointment.artwork.category %>:  <%= @appointment.artwork.title %></li>
    <li>Starting: <%= @appointment.start_date %></li>
    <li>Ending: <%= @appointment.end_date %></li>
    <li>Click below to Confirm or Decline this booking!!</li>
  <%= link_to 'Confirm',  appointment_confirm_path(@appointment), class: "btn" %>
  <%= link_to 'Decline',  appointment_decline_path(@appointment), class: "btn" %>
<% else %>
  <ul>

 <div class="text-center">
  <% if current_user.username.nil? %>
    <h1>Congrats <%= current_user.first_name %> !!!</h1>
  <% else %>
    <h1>Congrats <%= current_user.username %> !!!</h1>
  <% end %>

    <h1>You booked the <%= @appointment.artwork.category %> "<%= @appointment.artwork.title %>"</h1>
    <h1>from
      <% if @appointment.artwork.owner.username.nil? %>
        <%=  @appointment.artwork.owner.first_name%>
        <%=  @appointment.artwork.owner.last_name%>
      <% else %>
        <%= @appointment.artwork.owner.username %>
      <% end %>
    </h1>
    <br>
    <br>
    <br>
    <h2>
      Don't forget to check the status of your appointment
    </h2>
    <%= link_to 'See your appointments',  profile_path, class: 'btn btn-primary', style: 'text-decoration: none; color: black;'  %>
  </div>
<% end %>
