<h1 class="class text-center">My Profile</h1>
<br>

<div class="class text-center">
  <% if current_user.username.nil? %>
   <%= current_user.first_name %>
   <%= current_user.last_name %>
  <% else %>
    <%= current_user.username %>
  <% end %>
  <br>
  <%= current_user.email %>
  <br>
  <%= current_user.phone_number %>
</div>


<h3>My Venues</h3>
<ul>
<% current_user.venues.each do |venue| %>
  <li><%= link_to venue.title, venue_path, style: 'text-decoration: none; color:black;'  %></li>

<% end %>
</ul>
<%= link_to "Create Venues", new_venue_path %>
<br>

<h3>My requests</h3>
<% current_user.venues.each do |venue| %>
  <% venue.appointments.each do |appointment| %>
  <ul>
    <li>
      <h4>
        <%= link_to appointment.artwork.title, artwork_path(appointment.artwork_id), style: 'text-decoration: none; color:black;' %>,
        <% if Artwork.find(appointment.artwork_id).owner.username.nil? %>
          by <%= Artwork.find(appointment.artwork_id).owner.first_name%>
          by <%= Artwork.find(appointment.artwork_id).owner.last_name%>
        <% else %>
          by <%= Artwork.find(appointment.artwork_id).owner.username%>
        <% end %>
        (<%= appointment.artwork.category %>)
        <br>
        Status: <%= appointment.status %>
        <br>
      </h4>
        For your: <%= appointment.venue.title %>
      <br>
        From <%= appointment.start_date %>
        to <%= appointment.end_date %>
      <br>
        Email: <%= Artwork.find(appointment.artwork_id).owner.email%>
      <br>
        <% if Artwork.find(appointment.artwork_id).owner.email.nil? %>
        <% else %>
          Phone number: <%= Artwork.find(appointment.artwork_id).owner.phone_number%>
        <% end %>
      <br>
    </li>
  </ul>
  <% end %>
<% end %>

<h3>My artworks</h3>
<% current_user.artworks.each do |art| %>
  <ul>
    <li>
      <h4><%= link_to art.title, artwork_path(art.id), style: 'text-decoration: none; color:black;' %></h4>
    </li>
  </ul>
<% end %>

<h3>People requests for my artworks</h3>
<%  current_user.artworks.each do |artwork|  %>
<% artwork.appointments.each do |appointment| %>
<ul>
  <li>

    <%= appointment.venue.employees.first.email %> <br>
    <%= appointment.to_json %>
    <%= link_to 'Confirm',  appointment_confirm_path(appointment), class: "btn" %>
    <%= link_to 'Decline',  appointment_decline_path(appointment), class: "btn" %>
  <br>
  </li>
</ul>

  <% end %>
<% end %>
